header.header-public{
    background-color: var(--bs-blue-900);
    padding-block: 16px;
}
header .navbar-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

 header .navbar-item .links{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0;
        
}

header .navbar-item  a.nav-link{
    /* font-size: 14px; */
    color: var(--white);
    padding-right: 12px;
  


}
header .navbar-item button.btn-navbar-search{
    background-color: transparent;
    color: var(--white);
    border: none;
    margin-right: 15px;
    margin-left: auto;

}
header .navbar-item a.nav-user{
    color: var(--white);
    text-decoration: none;
}


header .navbar-item .btn-down-white-paper{
    font-size: 15px;
    background-color:var(--white);
    text-decoration: none;
    color: var(--bs-blue-900);
    border-radius: 20px;
    padding-block: 8px;
    padding-inline: 16px;
    border: none;
    margin-left: 15px;
   
}
.mobile-sidebar .MuiDrawer-paper{
    width: 100%;
    background: #0000;
}
.mobile-sidebar .blur{
    position: absolute;
    inset: 0;
    backdrop-filter: blur(25px);
    z-index: -1;
}
.mobile-sidebar .content{
    padding: 16px;
}
.mobile-sidebar .content, .mobile-sidebar .content *{
    z-index: 3;
}
.mobile-sidebar  .search-box {
    position: relative;
    margin-block: 16px;
}
.mobile-sidebar  .search-box input {
    width: 100%;
    background-color: var(--bs-blue-700);
    border: 1px solid #555;
    border-radius: 6px;
    padding: 12px 16px;
    color: white;
    letter-spacing: 2px;
}
.mobile-sidebar  .search-box svg {
    position: absolute;
    right: 4px;
    top: 8px;
    color: white;
    opacity: 0.8;
    font-weight: 100;
    transform: scale(0.9);
    cursor: pointer;
}
.mobile-sidebar hr{
    height: 2px;
    opacity: 0.5;
    margin-inline: -16px;
}
.mobile-sidebar .links{
    list-style-type: none;
    padding-inline: 16px;
}
.mobile-sidebar .links li{
    border-bottom: 1px solid #ddd5;
    padding-block: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    cursor: pointer;
}

.mobile-sidebar .links li a{
    color: white;
    font-size: 24px;
}
.mobile-sidebar .links li a:hover{
    color: var(--orange);
}
@media (max-width: 992px){
    header.header-public{
        padding-bottom: 0 ;
    }
    header .btn-down-white-paper{
        border-radius: 0;
    }
}
/* header ul.meno-collapsed{
    width: 0;
    overflow: hidden;
}
.navbar-item .search-collapsed{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.search-collapsed .btn-search{
    background: transparent;
    border: none;
    color: var(--white);
}
.search-collapsed .search-input{
    background-color: transparent;
    border: none;
    
    flex-grow: 1;
    color: var(--white);
}
.search-collapsed .search-input:focus-visible{
    outline: none;
}
.search-collapsed svg{
    color: var(--white);
} */