/* Blogs style */
.welcome-newsroom-body{
    padding-block: 32px;
    background-image: url("../../img/bgnewshead.png"), linear-gradient(#eb720b, #0d2742);
    background-position: center;
    background-size: contain;
    background-repeat: repeat-x;
    
}
.welcome-newsroom-body .search-blogs-box{
    background-color: var(--white);
    border-radius: 20px;
    padding-block: 10px;
    display: flex;
    align-items: center;
    width:70%;
    padding-inline: 10px;

}
.welcome-newsroom-body .search-blogs-box .btn-search-blogs{
    background:transparent;
    border: none;
    color: var(--bs-blue-900);

}
.welcome-newsroom-body .search-blogs-box  .search-blogs-input{
    flex-grow: 1;
    border: none;
    color: var(--bs-blue-900);
    background: transparent;
    margin-inline: 16px;
}
.welcome-newsroom{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.welcome-newsroom .welcome-newsroom-img img{

    width: 65%;
}

.welcome-newsroom  .welcome-newsroom-text{
    color: var(--white);
    font-size:30px;

}
.top-news-body{
    background-color: var(--bs-blue-900);
    border-radius: 20px;
    padding-block: 16px;
    padding-inline: 32px;
    user-select: none;
}
.top-news-body .head-top-news{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;

}
.head-top-news .title-head-top-news{
    color: var(--white);
    font-size: 16px;
    margin-left: 15px;
}
.top-news-body  .top-news-items{
    display: flex;
    flex-wrap: wrap;

}
.top-news-body .top-news-items .top-news-img{
    overflow: hidden;
    height: 350px;
    border-radius: 15px;
}
.top-news-body .top-news-items .top-news-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.top-news-body .top-news-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-inline: 16px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
 
span.crypto{
    color: var(--light-blue);
    font-size: 16px;
}
span.title-news{
    color: var(--white);
    font-size: 16px;

}
p.text-news{
    color: var(--white);
    font-size: 16px;
}
.top-news {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 350px;
}
span.data-text{
    color: var(--gray-200);
    font-size: 13px;
   
}
.view-more-like {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: auto;
	width: 100%;
	padding-inline: 16px;
}

.btn-view-more{
    display: flex;
    background-color: transparent;
    border: none;
    color: var(--white);
    
}
.like-comment{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: auto;
    

}
.like-box ,.comment-box{
    display: flex;
    align-items: center;
  
}
.like-box span ,.comment-box span{
    color:var(--white);
    margin-left: 5px;
}
.like-comment svg{
    color: var(--white);
    
}
.head-popular-news{
    display: flex;
    align-items: center;
    margin-block: 32px;
}
.slider-popular-news-items{
    display: flex;
    flex-direction: column;
    margin-block: 32px;

} 
.slider-popular-news-items .img-popular-news img{
    border-radius: 20px 20px 0px 0px;
    height: 180px;
    width: 100%;
    object-fit: cover;
    
}
.slider-popular-news-items .content-popular-news{
    background-color: var(--gray-900);
    border: 1px solid var(--white);
    border-top: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-inline: 8px;
    padding-block: 16px;
    border-radius: 0px 0px 20px 20px;
}
div.data-box{
    text-align: end;
} 
.slider-popular-news-items .content-popular-news .cpation-news-popular{
    color: var(--white);
    font-size: 16px;
}
.slider-popular-news-items .content-popular-news .text-news-popular{
    color: var(--white);
    font-size: 14px;
    color: #ccc;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    min-height: 60px;
}
.slider-latest-news-items .img-slider-latest-news{
    background-image: url("../../img/popularNews.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 280px;
    border-radius: 20px 20px 0px 0px;
    
}
.slider-latest-news-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-inline: 16px;
    background-color: var(--gray-900);
    border: 1px solid var(--white);
    border-top: none;
    padding-block: 16px;
    border-radius: 0px 0px 20px 20px;
}
.slider-latest-news-content .text-slider-latest-news{
    color: var(--white);
    font-size:13px;
}
.slider-latest-news-content .title-slider-latest-news{
    color: var(--white);
    font-size: 16px;
}
.cypto-latest-news-body{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    background-color: var(--gray-900);
    border: 1px solid var(--white);
    border-radius: 20px;
    padding-inline: 16px;
    padding-block: 16px;
    margin-block:48px ;
}
.cypto-latest-news-body .img-cypto-latest-news{
 
    background-image: url("../../img/fgd.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 350px;
    border-radius: 15px;

}
.cypto-latest-news{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 100%;
}
.cypto-latest-news .cypto-latest-news-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}
.footer-latest-news{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-block: 32px;
}
.pagination-Latest-News .MuiPagination-ul li button.MuiButtonBase-root svg {
    display: none;
}
.pagination-Latest-News .MuiPagination-ul li button.MuiButtonBase-root{
    color: var(--white);
}
.pagination-Latest-News .MuiPagination-ul li button.MuiButtonBase-root:hover{
  
        background-color:#a1b3c72e;
  
}
.pagination-Latest-News li div.MuiPaginationItem-root{
    color: var(--white);

}
.pagination-Latest-News ul li button.Mui-selected{
    background-color: var(--light-blue);
    
}
.pagination-Latest-News ul li button.Mui-selected span {
	border-radius:50%;
	box-shadow: 0 7px 17px 0 rgba(2, 139, 248, 0.41);
}
@media (max-width: 992px){
    .order-mobile1{
        order: 1;
    }
    .order-mobile2{
        order: 2;
    }
    .order-mobile3{
        order: 3;
    }
    .welcome-newsroom-body .search-blogs-box {

        width: 100%;

    }
    .top-news {
        height: 150px;
    }
    .welcome-newsroom .welcome-newsroom-text {
        margin-bottom: 16px;
        font-size: 24px;
    }
    .welcome-newsroom-body .search-blogs-box .btn-search-blogs {
        order: 2;
        color: var(--bs-blue-700);
    }
    .welcome-newsroom-body .search-blogs-box .search-blogs-input::placeholder {
        color: var(--gray-500);
    }
    .top-news-body {
       
        border-radius:0px;
        padding-block: 10px;
        padding-inline: 0px;
    }
    .top-news-body .head-top-news svg{

        width: 50px;
        margin-right: 20px;

    }
    .view-more {
        order: 2;
    }


    .cypto-latest-news-body {
        flex-wrap: wrap;
    }
    .cypto-latest-news-body .img-cypto-latest-news {

        height: 140px;

    }
    .footer-latest-news{
        display: none;
    }
    .top-news-body .top-news-items .top-news-img{
        margin-bottom: 32px;
        padding-inline: 12px;
    }
}
@media (max-width: 576px) {
    .top-news-body .top-news-items .top-news-img{
        height: 240px;
    }
}