.content-head-blog {
    background-image: url('../img/blog/Group-23230.png');
    width: 100%;
    height: 215px;
    background-position: center;
    background-size: cover;
}

.flex-blog {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.info-blog-post {
    background-color: #56697D;
    border-radius: 10px;
    color: #fff;
}

.info-blog-post .up-section-info-post img {
    width: 100%;
}
.date-publish {
    text-align: right;
    color: #585555;
}
.down-section-info-post {
    padding: 7px;
}

.bg-top-news {
    background-image: url('../img/blog/Group-1152.png');
    width: 100%;
    height: 80vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.topNews {
    position: relative;
    background-color: #081F37;
    border-radius: 15px;
    box-shadow: 0 0 20px 2px #224b77;
}
.topNews img {
    border-radius: 10px;
    height: 100%;
    object-fit: cover;
}
.info-top-news-title {
    /* padding: 1rem; */
    line-height: 1.8;
}
.nameTop {
    color: #008CFC;
    font-size: 19px;
    margin: 0
}
.nameTop2 , .content-info-Tnews {
    color: #fff;
    font-size: 19px; 
    line-height: 1.5;
}

.viewMore a {
    color: #fff;
}
.viewMore p {
    margin: 0;
}
.more-action-Tnews {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.review-like-Tnews {
    display: flex;
    align-items: center;
}
.review-like-Tnews  div  a{
    color: #fff;
}

.css-1s2u09g-control {
    border-radius: 30px !important;
    padding: 12px;
}

/* Contact page */
.bg-contact {
    background-image: url("../img/Page-title.png");
    width: 100%;
    height: 80vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* .text-contact {
    text-align: center;
    padding-block: 4rem;
    color: #008CFC;
    opacity: .5;
}
.text-contact p {
 background-color: #008CFC;
    display: inline-block;
    border: 1px solid #008CFC;
    border-radius: 15px;
    padding: 0.4rem 0.8rem;
} */



.protocol-component-item2 {
    min-height:195px !important;
}



.form-contact {
    background-image: url("../img/blog/Group-1152.png");
    width: 100%;
    height: 80vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.title-form-contact {
    color: #fff;
}
.title-form-contact p {
    position: relative;
    color: #008CFC;
    text-align: left;
    margin-left: 5.5rem;
}
.title-form-contact p::before {
    content: '';
    position: absolute;
    left: -90px;
    top: 10px;
    width: 66px;
    height: 2px;
    background-color: #008CFC;
}
.send-message a{
    background-color: #008CFC;
    padding: 1rem 2.5rem;
    border-radius: 30px;
    color: #fff;
}
.social-network2 .socail-media-item a {
    margin:  0 15px;
    background-color: #fff;
    padding: 7px 5px;
    border-radius: 25px;
    color: #001730;
}
/* Contact page */
@media (max-width:767px) {
    .topNews > .d-flex {
        flex-direction: column;
    }
    .bg-top-news {
        height: unset;
    }
 
}

@media (max-width:992px) {
    .content-head-blog {
        height: 100%;
        margin-bottom: 2rem;
    }
    .head-wel {
        padding-block: 1.2rem;
    }
}