
/* Home style */
/* welcom */
.welcom-body{
    padding-inline: 32px;

}
/* .welcom-item-bg{
    background: url(../../img/CompositeLayer.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 713px;
    background-position: top;
    width: 500px;
} */
.welcom-item{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-inline: 32px;
}

.welcom-item .title-welcom{
    color: var(--white);
    /* font-weight: bold; */
    font-size: 24px;

}
.welcom-item .title-welcom span.welcom-b{
    color: var(--light-blue);
}
.welcom-item .text-welcom{
    color: var(--white);
    font-size: 16px;
}
.welcom-body .welcom-item .read-more-welcom-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.welcom-body .welcom-item .read-more-welcom-box .sey-hi-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.welcom-body .welcom-item .read-more-welcom-box .sey-hi-box .sey-hi-to-itg{
    color: var(--white);
    font-size: 15px;
    margin-left: 15px;
}
.welcom-body .welcom-item .read-more-welcom-box .read-more-box a{
    background-color: var(--white);
    color: var(--bs-blue-900);
    border-radius: 20px;
    text-decoration: none;
    font-size: 15px;
    padding-inline: 16px;
    padding-block: 8px;
}
/* protocol componen */
.protocol-component-body{
    margin-top: 100px;
}
.protocol-component-body .title-Broadcasts-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 32px;
}
.protocol-component-body .protocol-component-item{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--gray-900);
    border-radius: 20px;

    padding-inline:32px;
    border: 1px solid var(--light-blue);

}
.protocol-component-body .protocol-component-item .caption-protocol-component{
    color: var(--white);
    /* font-weight: bold; */


}
.protocol-component-body .protocol-component-item .text-protocol-component{
    color: var(--white);
    font-size:12px;

}
.protocol-component-item .protocol-component-shape-box .protocol-img1{
    background-color: var(--gray-200);
    padding: 10px;
    border-radius: 10px;
    z-index: 50;
    border: 1px solid var(--white);
    position: relative;
    margin: 5px 0;
    opacity: .8;
}
.protocol-component-item .protocol-component-shape-box{
    position: relative;
    margin-bottom: 14px;
    margin-top: 16px;
    margin-left: 20px;
}
.protocol-component-item .protocol-component-shape-box::after {
	position: absolute;
	content: " ";
	top: 0;
	left: -25px;
	/* background-color: var(--light-blue); */
    background: linear-gradient(to left, #028bf8,  #008CFC);
	height: 62px;
	width: 65px;
	border-radius: 18px;
}
/* goals */
.goals-body{
    padding-inline: 48px;
    margin-top: 100px;
    margin-bottom: 100px;
}
.goals-item{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-inline: 48px;
    /* margin-bottom: 200px; */

}
.goals-item .texts-goals{
    padding-right: 32px;
    margin-top: 16px;
}
.goals-item .texts-goals .text-goals{
    color: var(--white);
    font-size: 15px;
}
.goals-item .text-goals-b{
    color: var(--light-blue);
    font-size: 15px;
}
.Logo-Goals-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.Logo-Goals-box span{
    color: var(--white);
    font-size: 80px;
    /* font-weight: bold; */

}
.features-body{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;
    margin-bottom: 32px;
    background-image: linear-gradient(180deg, #0d2742, #0a325d);
    border-radius: 20px;
    padding-block: 16px;
    position: relative;
    padding-inline:40px;
    


}
.features-body .text-features{
    color: var(--white);
    font-size: 13px;
    /* font-weight:bold; */
    margin-bottom: 20px;
    margin-left: 40px;
    text-align: start;
    
}
.features-body .img-features-box1 {
	background-image: linear-gradient(to bottom right, #273f93, #893679);
	padding-inline: 15px;
	padding-block: 22px;
	border-radius: 17px;
	position: absolute;
	left: -12px;
	top: -35px;
}
.features-body .img-features-box2 {
	background-image: linear-gradient(to bottom right, #92197b, #611399);
	padding-inline: 15px;
	padding-block: 22px;
	border-radius: 17px;
	position: absolute;
	left: -12px;
	top: -35px;
}
.features-body .img-features-box3 {
	background-image: linear-gradient(to bottom right, #a64c58, #5b355d);
	padding-inline: 20px;
	padding-block: 22px;
	border-radius: 17px;
	position: absolute;
	left: -12px;
	top: -35px;
}
.features-body .img-features-box4 {
	background-image: linear-gradient(to bottom right, #2c889a, #2b2668);
	padding-inline: 15px;
	padding-block: 22px;
	border-radius: 17px;
	position: absolute;
	left: -12px;
	top: -35px;
}
/* technology */
.technology-body{
    margin-bottom: 100px;
}
.technology-body .technology-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-inline: 32px;
    margin-inline: 32px;

}
.technology-body .technology-img .text-technology-img{
    color: var(--white);
    font-size: 16px;
    text-align: center;
    margin-top: 48px;
}
.technology-item .caption-technology{
    color: var(--white);
    text-align: center;
    font-size: 16px;
}
.dec-technology-box{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: var(--gray-900);
    border: 1px solid var(--light-blue);
    border-radius: 20px;
    padding-block: 16px;
    padding-inline: 32px;
    margin-top: 16px;
}
.dec-technology-box .title-dec-technology{
    font-size: 15px;
    /* font-weight:bold ; */
    color: var(--white);
    margin-bottom: 8px;

}
.dec-technology-box  .dec-technology{
    color: var(--white);
    font-size: 12px;
    margin-bottom: 0;
}
/* road map */
.road-map-body{
    margin-top: 100px;
}

.road-map-body .octagon-check{
    display: flex;
    flex-direction: column;
    background-color: var(--bs-blue-700);
    background-image: url(../img/octagon1.svg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    padding-block:40px;
    padding-inline:16px;
    align-items: center;
    position: relative;
    min-height: 240px;
}

.road-map-body .octagon-sync{
    display: flex;
    flex-direction: column;
    background-color: var(--bs-blue-700);
    background-image: url(../img/octagon2.svg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    padding-block:40px;
    padding-inline:16px;
    align-items: center;
    position: relative;
    min-height: 240px;
}
.road-map-body .octagon-accessTime{
    display: flex;
    flex-direction: column;
    background-color: var(--bs-blue-700);
    background-image: url(../img/octagon3.svg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    padding-block:40px;
    padding-inline:16px;
    align-items: center;
    position: relative;
    min-height: 240px;
}
.road-map-body .octagon-head-check{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--light-blue);
    border-radius: 15px;
    padding-block: 5px;
    padding-inline: 16px;
    margin-bottom: 10px;

}
.road-map-body .octagon-head-sync{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--orange);
    border-radius: 15px;
    padding-block: 5px;
    padding-inline: 16px;
    margin-bottom: 10px;

}
.road-map-body .octagon-head-accessTime{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--gray-500);
    border-radius: 15px;
    padding-block: 5px;
    padding-inline: 16px;
    margin-bottom: 10px;

}
.road-map-body .octagon-head-check svg {
	background-color: var(--light-blue-900);
	color: var(--white);
	border-radius: 50%;
	font-size: 25px;
	padding: 5px;
	margin-left: 10px;
}
.road-map-body .octagon-head-sync svg {
	background-color: var(--orange-900);
	color: var(--white);
	border-radius: 50%;
	font-size: 25px;
	padding: 5px;
	margin-left: 10px;
}
.road-map-body .octagon-head-accessTime svg {
	background-color: var(--gray-700);
	color: var(--white);
	border-radius: 50%;
	font-size: 25px;
	padding: 5px;
	margin-left: 10px;
}
.road-map-body  .caption-octagon{
    font-size: 12px;
    color: var(--white);
    text-align: center;
}
.road-map-body .dec-octagon{
    font-size: 14px;
    color: var(--white);
    text-align: center;
}
.road-map-body .dec-octagon-accessTime{
    font-size: 14px;
    color: var(--gray-900);
    text-align: center;
}
.road-map-body .dec-octagon-accessTime{
    font-size: 14px;
    color: var(--gray-500);
    text-align: center;
}
/* afters */
.road-map-body .line01::before{
	background-color: var(--light-blue);
	content: " ";
	position: absolute;
	height: 3px;
	width: 30px;
	top: 150px;
	right: -28px;
	z-index: 50;
    
}
.road-map-body .line01::after {
	background-color: var(--light-blue);
	content: " ";
	position: absolute;
	height: 3px;
	width: 30px;
	top: 100px;
	right: -28px;
	z-index: 50;
}
/* 2 */
.road-map-body .line02::before {
	background-color: var(--light-blue);
	content: " ";
	position: absolute;
	height: 3px;
	width: 30px;
	top: 129px;
	right: -28px;
	z-index: 50;
}
.road-map-body .line02::after {
	background-color: var(--light-blue);
	content: " ";
	position: absolute;
	height: 3px;
	width: 30px;
	top: 80px;
	right: -28px;
	z-index: 50;
}
/* 3 */
.road-map-body .line03::before {
	background-color: var(--orange);
	content: " ";
	position: absolute;
	height: 3px;
	width: 30px;
	top: 150px;
	right: -28px;
	z-index: 50;
}
.road-map-body .line03::after {
	background-color: var(--orange);
	content: " ";
	position: absolute;
	height: 3px;
	width: 30px;
	top: 89px;
	right: -28px;
	z-index: 50;
}
/* 04 */
.road-map-body .line04::before {
	background-color: var(--gray-500);
	content: " ";
	position: absolute;
	height: 3px;
	width: 30px;
	top: 139px;
	right: -28px;
	z-index: 50;
}
.road-map-body .line04::after {
	background-color: var(--gray-500);
	content: " ";
	position: absolute;
	height: 3px;
	width: 30px;
	top: 100px;
	right: -28px;
	z-index: 50;
}
/* 05 */
.road-map-body .line05::before {
	background-color: var(--gray-500);
	content: " ";
	position: absolute;
	height: 3px;
	width: 30px;
	top: 139px;
	right: -28px;
	z-index: 50;
}
.road-map-body .line05::after {
	background-color: var(--gray-500);
	content: " ";
	position: absolute;
	height: 3px;
	width: 30px;
	top: 100px;
	right: -28px;
	z-index: 50;
}
/* Assest to Trade */
.assest-body{
    margin-block: 100px;
}
.assest-img{
    min-width: var(--motion-size);
    max-width: var(--motion-size);
    min-height: var(--motion-size);
    max-height: var(--motion-size);
    z-index: 2;
    background-color: #0d2742;
    position: relative;
    border-radius: 50%;
}
.assest-img img {
    width: 100%;
    height: 100%;
    transform: scale(1.2);
}
.assest-item{
    display: flex;
    flex-direction: column;
    padding-block: 32px;
    padding-inline: 16px;
    border: 1px solid var(--green);
    border-radius: 20px;
    width: 100%;
}
.asset-row:nth-of-type(odd) .assest-item{
    padding-left: 62px;
    transform: translateX(-35px);
}
.asset-row:nth-of-type(even) .assest-item{
    padding-right: 62px;
    transform: translateX(35px);
}
.asset-row .content{
    display: flex; 
    align-items: center;
}
.assest-item .caption-assest-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:flex-start;
}
.assest-item .caption-assest-box .caption-assest{
    font-size: 16px;
    color: var(--white);
}
.assest-item .caption-assest-box  .assest-name{
    color: var(--orange-900);
    font-size: 16px;
}
.assest-item .value-assest-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.assest-item .value-assest-box .value-assest{
    color: var(--white);
    font-size: 16px;
 
}

.x4 > div span:nth-of-type(1){

    min-width: 30%;
    width:187px;
    text-align: left;
}
.x4 > div span:nth-of-type(2){

    min-width: 30%;
    width: 120px;
    text-align: center;
}
.x4 > div span:nth-of-type(3){

    min-width: 30%;
    text-align: end;
}


@media (max-width: 1400px) {
    .road-map-body .octagon-accessTime, .road-map-body .octagon-sync, .road-map-body .octagon-check{
        padding-top: 60px;
    }
}
.circuit-design img {
    width: 100%;
}